@{
    ViewData["Title"] = "About Page";
}

<div class="text-center">
    <h1 class="display-4">About Us</h1>
    <p>
        The name Binco may refer to JNCO (pronounced "Jenco"), a Los Angeles-based urban clothing company that first gained prominence in the early 1990s. The chain itself is possibly based on Ross Stores, an American chain of discount clothing.
     </p>
     <p>
        In Grand Theft Auto: San Andreas, access to Binco (and indeed all clothing stores) is unlocked after the mission "Nines and AKs". There are four Binco stores located in San Andreas, all sharing the same interior. The stores are primarily based on the concept of a Flea market. This could possibly explain the signs in the store which read "Everything 99¢", despite having nothing in the store that sells for 99¢.
     </p>
     <p>
        It is possible to see a Binco advertisement near the border of Callahan Bridge and Chinatown in Grand Theft Auto: Liberty City Stories, however, no stores can be found within the city.
     </p>
     <p>
        Binco was also due to appear in Grand Theft Auto IV but was replaced with the Russian Shop. Despite this, the Binco logo can still be seen around the city, such as on vans.
     </p>
     <p>
        In Grand Theft Auto V, there are five Binco stores within Los Santos, with two of them accessible to the player. They share the interiors and the clothing of the Discount Stores. Binco and Sub Urban stores play music from Radio Mirror Park. 
    </p>
        <a href="https://gta.fandom.com/wiki/Businesses#Clothing.2FFabrics">Learn more about the GTA clothing industry</a>.
        <br />
        <img src="../../img/logo.png" class="img-fluid rounded">
</div>
