@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet, felis a sagittis cursus, tortor ligula aliquet libero, ut egestas ligula lectus a nulla. Phasellus at euismod ipsum. Vivamus imperdiet non nunc vitae gravida. Pellentesque eu mauris convallis, euismod orci sit amet, ultricies leo. Fusce finibus lorem at ex varius, non tempus sapien tempus. Aliquam non dui vel ex porta sollicitudin eu fringilla felis. Nam interdum dapibus dui, non facilisis massa bibendum sit amet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
</p>
<p>
    Vestibulum porta diam nibh. Proin varius dui eu gravida cursus. In congue gravida magna, eget ullamcorper eros pharetra eget. Morbi vel interdum mi. Praesent tellus ligula, ullamcorper eu faucibus a, suscipit ut quam. Pellentesque sit amet purus tellus. Proin ultricies faucibus lectus in laoreet. Pellentesque vulputate cursus neque, sit amet tincidunt ex ullamcorper at. Etiam ultricies velit non maximus tempor. Quisque at convallis orci. Ut non ligula id ligula porta gravida. Integer lacus felis, dictum quis mi id, tempor vulputate ante. Maecenas vel libero eget arcu elementum faucibus in sed justo.
</p>
